a {
   text-decoration: none;
   color: black;
}

a:visited {
   color: #343669 ;
}

a:hover {
   text-decoration: underline;
}

h1 {
   font-family: Impact, fantasy;
}

h4{
   font-family: Impact, fantasy;
}

div {
   font-family: American Typewriter, serif;
}
