 body {
   font-family: American Typewriter, serif ; 
 }

table, tr {
   border: 1px solid #343669;
   border-radius: 3px;
}

a {
   text-decoration: none;
   color: black;
}

a:visited {
   color: #343669 ;
}

a:hover {
   text-decoration: underline;
}
